<header class="h-12 bg-zinc-200 border-b border-zinc-400">
    <nav class="flex items-center justify-center h-full">
        <ul class="flex gap-4">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>
