---

// LAYOUTS
import Layout from "../layouts/layout/index.astro"

// COMPONENTS
import Header from "../components/common/header/index.astro"

// ATOMS
import HeadingOne from "../atoms/headings/one/index.astro"

---
<Layout
	title="Home"
>
	<Header />
	<HeadingOne>Getting Started</HeadingOne>
	<button class="bg-blue-300 px-4 py-2 rounded border border-blue-400" id="click-me">Click Me</button>
</Layout>
<script>
	const button = document.getElementById("click-me")
	button.addEventListener("click", (event) => {
		console.log("Hey@ button clicked!")
	});
</script>
