---

const mempool_data = await fetch("https://mempool.space/api/mempool")
const price_data = await fetch("https://mempool.space/api/v1/prices")
const price_data_json = await price_data.json()
const mempool_data_json = await mempool_data.json()

let mempool_size = "N/A"
if( mempool_data.status === 200 ){

	mempool_size = mempool_data_json.count

}
// console.log( mempool_data.status )
// console.log( mempool_data_json )

// LAYOUTS
import Layout from "../layouts/layout/index.astro"

// COMPONENTS
import Header from "../components/common/header/index.astro"

// ATOMS
import HeadingOne from "../atoms/headings/one/index.astro"

---
<Layout
	title="Home"
>
	<Header />
	<HeadingOne>Current transactions in mempool</HeadingOne>
	<HeadingOne>{ mempool_size }</HeadingOne>
	<HeadingOne>Bitcoin Price</HeadingOne>
	<HeadingOne>{ price_data_json.USD }</HeadingOne>
	<button class="bg-blue-300 px-4 py-2 rounded border border-blue-400" id="click-me">Click Me</button>
</Layout>
<script>
	const button = document.getElementById("click-me")
	button.addEventListener("click", (event) => {
		console.log("Hey@ button clicked!")
	});
</script>
